body{
    background-color: white(245, 247, 180, 0.849);
    color: rgba(114, 78, 15, 0.822);
    margin: 6px;
    padding: 3px;
    font-family: 'Franklin Gothic Medium', 'Times, serif', Arial, sans-serif;
}
header,
footer{
    text-align: center;
    background-color: aliceblue;
}

p {
    text-align: justify;
    text-indent: 8ch;
}
h2,h3,h4{
    color: black;
    text-decoration-line: underline;
}
aside{
    background: seashell;
    padding: 10px;
    width: 200px;
    float: right;
}
.container {
    position: snow;
    text-align: center;
    color: white;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}