body{
    background-color: rgb(195, 236, 223);
    color: rgb(53, 53, 50);
    margin: 5px;
    padding: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header,
footer{
    text-align: center;
    background-color: aliceblue;
}
.letter1{
    color: aquamarine;
    text-decoration-line: underline;
    font-size: 120%;
}
.letter2{
    color: rgb(36, 126, 96);
    text-decoration-line: underline;
    font-size: 120%;
}
p {
    text-align: justify;
    text-indent: 8ch;
}
p::first-line{
    color: black;
}
p::first-letter{
    font-size: 120%;
    color: bisque;
    text-decoration: underline;
}
section:hover {
background-color: blueviolet;
}
h2,
h3,
h4 {
    color: coral;
    text-decoration-line: underline;
}
.myimage-div
{
    display: none;
}
a.myimage-ssilka:hover+div
{
    display: block;
}
aside{
    background: rgb(195, 236, 223);
    float: left;
    padding-left: 10px;
    width: 10%;
    height: 95%;
}